.object-fit-cover {
	object-fit: cover;
}
.mt-nav {
	margin-top: 110px;
}

.max-vh-50 {
	max-height: 50vh;
}

input.arrows-none::-webkit-outer-spin-button,
input.arrows-none::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input.arrows-none[type=number] {
  -moz-appearance: textfield;
}
